<!DOCTYPE html>
<html>
<head>
  <script src="face-api.js"></script>
  <script src="commons.js"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<body>
  <div id="navbar"></div>
  <div class="center-content page-container">
    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <video onplay="onPlay(this)" id="inputVideo" autoplay muted></video>
      <canvas id="overlay" />
    </div>
    <div class="row side-by-side">    
      
      <div class="row">
        <label for="en">Entropy:</label>
        <input disabled value="-" id="en" type="text" class="bold">
      </div>
      <div class="row">
        <label for="enavg">Avg.:</label>
        <input disabled value="-" id="enavg" type="text" class="bold">
      </div>
      <button id="recButton"></button>
    </div>
    <div class="row side-by-side">
      <div class="row">
        <label for="Threshold">Entropy Threshold:</label>
        <input disabled value="3.2" id="Threshold" type="text" class="bold">
      </div>
      <button
        class="waves-effect waves-light btn"
        onclick="onDecreaseThreshold()"
      >
        <i class="material-icons left">-</i>
      </button>
      <button
        class="waves-effect waves-light btn"
        onclick="onIncreaseThreshold()"
      >
        <i class="material-icons left">+</i>
      </button>
    </div>
    <div class="row side-by-side">
      <div class="row">
        <label for="minFaceSize">Minimum Face Size:</label>
        <input disabled value="50" id="minFaceSize" type="text" class="bold">
      </div>
      <button
        class="waves-effect waves-light btn"
        onclick="onDecreaseMinFaceSize()"
      >
        <i class="material-icons left">-</i>
      </button>
      <button
        class="waves-effect waves-light btn"
        onclick="onIncreaseMinFaceSize()"
      >
        <i class="material-icons left">+</i>
      </button>
    </div>
    <div class="row side-by-side">
      <div class="row">
        <label for="uthr">Minimum Unit:</label>
        <input disabled value="0.01" id="uthr" type="text" class="bold">
      </div>
      <button
        class="waves-effect waves-light btn"
        onclick="onDecreaseuthr()"
      >
        <i class="material-icons left">-</i>
      </button>
      <button
        class="waves-effect waves-light btn"
        onclick="onIncreaseuthr()"
      >
        <i class="material-icons left">+</i>
      </button>
    </div>
    <div class="row side-by-side">
      <div class="row">
        <label for="time">Time:</label>
        <input disabled value="-" id="time" type="text" class="bold">
      </div>
      <div class="row">
        <label for="fps">Estimated Fps:</label>
        <input disabled value="-" id="fps" type="text" class="bold">
      </div>
    </div>
    <div class="row side-by-side">    
      <div class="row">
        <label for="left">Left:</label>
        <input disabled value="-" id="left" type="text" class="bold">
      </div>
      <div class="row">
        <label for="right">Right:</label>
        <input disabled value="-" id="right" type="text" class="bold">
      </div>
    </div>
    <div class="row side-by-side">    
      <div class="row">
        <label for="down">Down:</label>
        <input disabled value="-" id="down" type="text" class="bold">
      </div>
    </div>
  </div>

  <script>
    
    let modelLoaded = false
    let minFaceSize = 50
    let minConfidence = 0.85
    let forwardTimes = []
    let stop = false

    let bgColor = '#ffffff'
    let drawLines = false
    let landmarks
    let Q = new Queue();
    let pointQ = new Queue();
    let EnQ = new Queue();
    let thr = 0.03
    let Vthr = 0.03
    let uthr = 0.01
    let oldnPoint = []
    let Enthr = 3.2
    let OFF = false
    let end_time = 0

    navigator.getUserMedia = ( navigator.getUserMedia ||
                       navigator.webkitGetUserMedia ||
                       navigator.mozGetUserMedia ||
                       navigator.msGetUserMedia);

    function onIncreaseMinFaceSize() {
      minFaceSize = Math.min(faceapi.round(minFaceSize + 50), 300)
      $('#minFaceSize').val(minFaceSize)
    }

    function onDecreaseMinFaceSize() {
      minFaceSize = Math.max(faceapi.round(minFaceSize - 50), 50)
      $('#minFaceSize').val(minFaceSize)
    }

    function onIncreaseThreshold() {
      Enthr= Math.min((Enthr + 0.1), 5)
      //let textT = Math.round(Enthr*100) + '%'
      let textT = Math.round(Enthr*100)/100
      $('#Threshold').val(textT)
    }

    function onDecreaseThreshold() {
      Enthr= Math.max((Enthr - 0.1), 0.0)
      //let textT = Math.round(Enthr*100) + '%'
      let textT = Math.round(Enthr*100)/100
      $('#Threshold').val(textT)
    }
    function onIncreaseuthr() {
      uthr= Math.min((uthr + 0.001), 3)
      //let textT = Math.round(Enthr*100) + '%'
      let textT = Math.round(uthr*100)/100
      $('#Threshold').val(textT)
    }

    function onDecreaseuthr() {
      uthr= Math.max((uthr - 0.001), 0.0)
      //let textT = Math.round(Enthr*100) + '%'
      let textT = Math.round(uthr*100)/100
      $('#Threshold').val(textT)
    }
    function updateTimeStats(timeInMs) {
      forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
      const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
      $('#time').val(`${Math.round(avgTimeInMs)} ms`)
      $('#fps').val(`${faceapi.round(1000 / avgTimeInMs)}`)
    }
    
    function normalizeMouth(landmarksByFace){
      let lmkMouth = landmarksByFace[0].getMouth()
      let lmkFace = landmarksByFace[0].getJawOutline()
      let flen = lmkMouth.length
      let x3 = lmkFace[2].x
      let y3 = lmkFace[2].y
      let tmpx, tmpy = 0
      let unit = Math.sqrt(Math.pow(x3-lmkFace[14].x,2)+Math.pow(y3-lmkFace[14].y,2))
      let nMouth = []
      for (i = 0; i<flen; i++)
      {
          tmpx = (lmkMouth[i].x-x3)/unit
          tmpy = (lmkMouth[i].y-y3)/unit
          nMouth.push(new faceapi.Point(tmpx,tmpy))
      }
      return nMouth
    }
    function super_normalizeMouth(landmarksByFace){
      let lmkMouth = landmarksByFace[0].getMouth()
      let flen = lmkMouth.length
      let x0 = lmkMouth[0].x
      let y0 = lmkMouth[0].y
      let x6 = lmkMouth[6].x
      let y6 = lmkMouth[6].y
      let theta = Math.atan2(y6-y0, x6-x0)
      
      let tmpx, tmpy, dx, dy = 0
      let unit = Math.sqrt(Math.pow(x6-x0,2)+Math.pow(y6-y0,2))
      let nMouth = []
      for (i = 0; i<flen; i++)
      {
          dx = (lmkMouth[i].x-x0)/unit
          dy = (lmkMouth[i].y-y0)/unit
          tmpx = dx * Math.cos(theta) + dy * Math.sin(theta)
          tmpy = -dx * Math.sin(theta) + dy * Math.cos(theta)
          nMouth.push(new faceapi.Point(tmpx,tmpy))
      }
      console.log('super normalize Mouth:')
      console.log(nMouth)
      return nMouth
    }
    function calatan2(x, y) {
      return Math.atan2(y, x) * 180 / Math.PI;
    }   
    function calEntropy(Vectors){
      let flen = Vectors.length
      let statistic = new Array(36)
      statistic.fill(0)
      //console.log(Vectors)
      for (i = 0; i<flen; i++)
      {
          x = Vectors[i].x
          y = Vectors[i].y
          deg = calatan2(x, y)
          deg = (deg>=0)? deg : deg+360
          ind = Math.floor(deg/10)
          statistic[ind]++
      }
      let En = 0
      let slen = statistic.length
      //console.log(statistic)
      for(j = 0;j<slen; j++)
      {
        if(statistic[j]!=0)
          En += ((statistic[j]/flen)*Math.log2(statistic[j]/flen))
      }
      En = -En
      console.log(En)
      
      return En
    }
    function calculateVectors(p1, p2){
      let flen = p1.length
      let Vectors = []
      let tmpx, tmpy = 0
      let x, y, u, deg, ind
      //console.log(p1)
      //console.log(p2)
      for (i = 0; i<flen; i++)
      {
          tmpx = p1[i].x - p2[i].x
          tmpy = p1[i].y - p2[i].y
          u = Math.sqrt(Math.pow(tmpx,2)+Math.pow(tmpy,2))
          console.log('u:')
          console.log(u)
          if(u<uthr)
          {
            x = 0
            y = 0
          }
          else{
            x = tmpx / u
            y = tmpy / u
          }
          Vectors.push(new faceapi.Point(x,y))
      }
      return Vectors
    }

    function calculateLipsRatio(landmarksByFace){
      lmkPos = landmarksByFace[0].getMouth()
      lmkPosLE = landmarksByFace[0].getLeftEye()
      lmkPosRE = landmarksByFace[0].getRightEye()
      lmkPosN = landmarksByFace[0].getNose()
      let eyed = Math.pow((lmkPosLE[3].x-lmkPosRE[0].x), 2) + Math.pow((lmkPosLE[3].y-lmkPosRE[0].y), 2)
      let nosed = Math.pow((lmkPosN[3].x-lmkPosN[0].x), 2) + Math.pow((lmkPosN[3].y-lmkPosN[0].y), 2)
      let avg = (eyed+nosed)/2.0
      let Llips = (Math.pow((lmkPos[2].x - lmkPos[10].x),2) + Math.pow((lmkPos[2].y - lmkPos[10].y),2))
      let Rlips = (Math.pow((lmkPos[4].x - lmkPos[8].x),2) + Math.pow((lmkPos[4].y - lmkPos[8].y),2))
      let lipsd = (Llips + Rlips )/2.0
      let LipsRatio = Math.pow(lipsd/avg, 0.5)
      return LipsRatio
    }

    async function onPlay(videoEl) {
      if(videoEl.paused || videoEl.ended || !modelLoaded)
        return false

      let start_time = new Date().getTime()
      console.log('###############In################')
      //const imgBuf = await fetchImage(uri)
      const { width, height } = faceapi.getMediaDimensions(videoEl)
      const canvas = $('#overlay').get(0)
      canvas.width = width
      canvas.height = height
          
      const mtcnnParams = {
        minFaceSize
      }
      //const { results, stats } = await faceapi.nets.mtcnn.forwardWithStats(videoEl, mtcnnParams)
      const results = await faceapi.mtcnn(videoEl, mtcnnParams)
      console.log(results)
      
      let mtcnn_time = new Date().getTime()
      let lmk68_time = 0
      //updateTimeStats(stats.total)
      if(results.length!=0){
        locations = []
        flen = results.length
        for (i = 0; i<flen; i++)
        {locations.push(results[i].faceDetection)}
        const faceTensors = (await faceapi.extractFaceTensors(videoEl, locations))
        let landmarksByFace = await Promise.all(faceTensors.map(t => faceapi.detectLandmarks(t)))
        //console.log(landmarksByFace)

        // free memory for face image tensors after we computed their descriptors
        faceTensors.forEach(t => t.dispose())

        // shift and scale the face landmarks to the face image position in the canvas
        landmarksByFace = landmarksByFace.map((landmarks, i) => {
          const box = locations[i].forSize(width, height).getBox()
          return landmarks.forSize(box.width, box.height).shift(box.x, box.y)
        })
        lmk68_time = new Date().getTime()
        
        //let nMouthPoint = normalizeMouth(landmarksByFace)
        let nMouthPoint = super_normalizeMouth(landmarksByFace)
        
        
        checktime = new Date().getTime()
        if(checktime-end_time>1000){
          while(!pointQ.isEmpty())
          {pointQ.dequeue()}
        }
        
        pointQ.enqueue(nMouthPoint)
        
        if(pointQ.getLength()>3){
          pointQ.dequeue()
        }
    
        if(pointQ.getLength()!=1 && EnSilent(pointQ, Enthr))
        {
          console.log('E*************Off**************E')
          off()
        }
        else
        {
          console.log('E*************On**************E')
          on()
        }

        let drawLines = false
        faceapi.drawLandmarks(canvas, landmarksByFace, { lineWidth: drawLines ? 2 : 4, drawLines, color: 'blue' })
        
        if (results) {
          results.forEach(({ faceDetection, faceLandmarks }) => {
            if (faceDetection.score < minConfidence) {
              return
            }
            faceapi.drawDetection('overlay', faceDetection.forSize(width, height))
            //faceapi.drawLandmarks('overlay', faceLandmarks.forSize(width, height), { lineWidth: 4, color: 'red' })
          })
        }
        end_time = new Date().getTime();
      }else{
        console.log('E*************Off**************E')
        off()
      }
     
      
      console.log((mtcnn_time - start_time) / 1000 + "sec");
      console.log((lmk68_time - mtcnn_time) / 1000 + "sec");
      console.log((end_time - start_time) / 1000 + "sec");
      console.log('################Out###############')
      if(stop)
        return false
     
      setTimeout(() => onPlay(videoEl))
    }
    function off(){
        if($('#recButton').hasClass('Rec')){
          $('#recButton').removeClass("Rec");
          $('#recButton').addClass("notRec");
        }
        OFF = true
    }
    function on(){
        if($('#recButton').hasClass('notRec')){
          $('#recButton').removeClass("notRec");
          $('#recButton').addClass("Rec");
        }
        OFF = false
    }
  
    function EnSilent(Q, threshold){
      let i, j, t, tf, EN = 0
      let EnSum, Entmp, Enavg = 0
      let Qlen = Q.getLength()

      t = Q.getitem(0)
      if(true)
      {
        //if rec is off, any "entropy > thr" than turn it on
        for(j = 1; j<Qlen;j++)
        {
          tf = Q.getitem(j)
          ENtmp = calEntropy(calculateVectors(t, tf))
          if(j==1){
            EN = ENtmp
            $('#en').val(Math.round(EN*100)/100)
            $('#en').css('background-color', bgColor)
          }
          if(ENtmp>threshold)
            return false
        }
      }
      else{
        //if rec is on, "avg entropy < thr" turn it off
        for(j = 1; j<Qlen;j++)
        {
          tf = Q.getitem(j)
          if(j==1){
            EN = calEntropy(calculateVectors(t, tf))
            EnSum += EN
          }else{
            EnSum += calEntropy(calculateVectors(t, tf))
         }
        }
        EnAvg = EnSum/(Qlen-1)
        $('#enavg').val(Math.round(EnAvg*100)/100)
        $('#enavg').css('background-color', bgColor)
        $('#en').val(Math.round(EN*100)/100)
        $('#en').css('background-color', bgColor)
        if(EnAvg>threshold)
          return false
        else
          return true
      }

      return true
    
    }
    async function run() {
      await faceapi.loadMtcnnModel('/')
      //modelLoaded = true
      await faceapi.loadFaceLandmarkModel('/')
      modelLoaded = true
    

      const videoEl = $('#inputVideo').get(0)
      navigator.getUserMedia(
        { video: {} },
        stream => videoEl.srcObject = stream,
        err => console.error(err)
      )
      $('#loader').hide()
      
      $('#recButton').addClass("Rec");

      $('#recButton').click(function(){
        if($('#recButton').hasClass('notRec')){
          $('#recButton').removeClass("notRec");
          $('#recButton').addClass("Rec");
        }
        else{
          $('#recButton').removeClass("Rec");
          $('#recButton').addClass("notRec");
        }
      });	
     
    }

    $(document).ready(function() {
      renderNavBar('#navbar', 'mtcnn_face_detection_webcam')
      run()
    })

    function Queue(){
      var a=[],b=0;
      this.getLength=function(){return a.length-b};
      this.isEmpty=function(){return 0==a.length};
      this.enqueue=function(b){a.push(b)};
      this.dequeue=function(){if(0!=a.length){var c=a[b];2*++b>=a.length&&(a=a.slice(b),b=0);return c}};
      this.peek=function(){return 0<a.length?a[b]:void 0};
      this.getitem=function(i){if(i<a.length){return a[i]}};
    }
  </script>
</body>
</html>